<div class="container" style="width: 100%;">
  <div class="row">
    <div class="col s12">
      <h5 class="black-text" style="font-family: Serif;">Actualizar una Habitacion</h5>
      <form [formGroup]="formRoom">

        <div class="col s4 input-field">
          <span class="black-text">Seccion Del Producto:</span>
          <select class="browser-default" id="number_room" name="number_room" (change)="selectRoom($event)">
            <option value="">Selecciona una habitación</option>
            <option *ngFor="let item of listRoom" value="{{item.id}}">{{item.number_room}}</option>
          </select>
        </div>

        <div class="col s4 input-field">
          <span class="black-text">Escribe el Numero de Personas:</span>
          <input type="number" name="num_personas" id="num_personas" [formControl]="formRoom.controls['number_persons']" />
        </div>

        <div class="col s4 input-field">
          <span class="black-text">Escribe el Precio:</span>
          <input type="number" name="precio_room" id="precio_room" [formControl]="formRoom.controls['price']" />
        </div>

        <div class="col s12">
          <button class="btn white-text black save_room" style="border-radius:7px;" (click)="updateRoom()">Actualizar Habitacion</button>
        </div>
      </form>
    </div>

  </div>
</div>

