<!-- Nav Lateral -->
<section class="NavLateral full-width" style="height: 100vh;">
  <div class="NavLateral-FontMenu full-width ShowHideMenu"></div>
  <div class="NavLateral-content full-width">
    <header class="NavLateral-title full-width center-align" routerLink="dashboard">
      Hotel <i class="zmdi zmdi-close NavLateral-title-btn ShowHideMenu"></i>
    </header>
    <figure class="full-width NavLateral-logo">
      <img src="../../../assets/hotel.png" alt="material-logo" class="responsive-img center-box">
      <figcaption class="center-align"><h5 style="font-family:serif;"></h5></figcaption>
    </figure>
    <h5 style="font-family:serif;">Saldo Base:$<strong
      id="saldo"></strong>
    </h5>

    <ul class="collapsible">

      <!-- registry room -->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">import_contacts</i>
          Registrar
          <i class="material-icons right" style="margin-left: 58%;">import_contacts</i>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item" id="client-input" routerLink="client">Cliente</li>
          </ul>
        </div>
      </li>

      <!-- see room -->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">import_contacts</i>
          Habitaciones
          <i class="material-icons right" style="margin-left: 49%;">import_contacts</i>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item" routerLink="see-room-available">Disponibles</li>
            <li class="collection-item" routerLink="see-room-busy">Ocupadas</li>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          <i class="material-icons">import_contacts</i>
          Ventas
          <i class="material-icons right" style="margin-left: 63%;">import_contacts</i>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item" routerLink="client-sales">Clientes</li>
            <li class="collection-item" routerLink="ordinary-sales">Ordinarios</li>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          <i class="material-icons">import_contacts</i>
          Reportes
          <i class="material-icons right" style="margin-left: 58%;">import_contacts</i>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item" routerLink="room-report">Habitaciones</li>
            <li class="collection-item" routerLink="report-sales">Ventas</li>
            <li class="collection-item" routerLink="report-shifts" *ngIf="receptionAdmin || userRoot">Turnos</li>
            <li class="collection-item" routerLink="report-balance-base" *ngIf="receptionAdmin || userRoot">saldo base</li>
            <!--<li class="collection-item" (click)="onSee($event)" id="various-expenses">Egresos varios</li>-->
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header modal-trigger" data-target="modal-super-root" (click)="openModal($event)">
          <i class="material-icons">place</i>
          Herramientas
          <i class="material-icons right" style="margin-left: 48%;">import_contacts</i>
        </div>
        <div class="collapsible-body">
          <ul class="collection" *ngIf="offConfigSuperUser">
            <li class="collection-item modal-trigger" data-target="modal-create-section" id="create"
                (click)="openModal($event)" *ngIf="userRoot">Crear
            </li>
            <li class="collection-item modal-trigger" data-target="modal-update-section" id="update"
                (click)="openModal($event)" *ngIf="userRoot">Actualizar
            </li>
            <li class="collection-item modal-trigger" data-target="modal-create-base-balance" id="create-balance"
                (click)="openModal($event)" *ngIf="userRoot">Saldo base
            </li>
            <li class="collection-item modal-trigger" data-target="modal-update-base-balance" id="update-balance"
                (click)="openModal($event)" *ngIf="userRoot || receptionAdmin">Retirar saldo
            </li>
            <li class="collection-item modal-trigger" data-target="modal-deliver_turn" id="deliver_turn"
                (click)="openModal($event)" *ngIf="receptionAdmin">Entregar turno
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</section>

<!-- Page content -->
<section class="ContentPage full-width" [style.height.px]="height">
  <!-- Nav Info -->
  <div class="ContentPage-Nav full-width">
    <ul class="full-width">
      <li class="btn-MobileMenu ShowHideMenu"><a href="#" class="tooltipped waves-effect waves-light"
                                                 data-position="bottom" data-delay="50" data-tooltip="Menu"><i
        class="zmdi zmdi-more-vert"></i></a></li>
      <li style="position: relative; width: 100px; cursor: pointer;" (click)="logout()">
        <p>
          <i class="material-icons" style="position: absolute; left: 11px; top: 14px;">logout</i>
          <span style="position: absolute; top: 0px; left: 37px;">Salir</span>
        </p>
      </li>
      <li style="cursor: pointer;" class="dropdown-trigger" data-target="menu-logout">
        <figure><img src="../../../assets/hotel.png" alt="UserImage"></figure>
      </li>
      <li style="padding:0 5px;">{{user.user}}</li>
      <li><a class="tooltipped waves-effect waves-light btn-ExitSystem" data-position="bottom" data-delay="50"
             data-tooltip="Logout"><i class="zmdi zmdi-power"></i></a></li>
      <!--
       <li>
         <a href="#" class="tooltipped waves-effect waves-light btn-Notification" data-position="bottom" data-delay="50" data-tooltip="Notifications">
           <i class="zmdi zmdi-notifications"></i>
           <span class="ContentPage-Nav-indicator bg-danger">2</span>
         </a>
       </li>
       -->
    </ul>
  </div>

  <!-- Notifications area -->
  <section class="z-depth-3 NotificationArea">
    <div class="full-width center-align NotificationArea-title">Notifications <i
      class="zmdi zmdi-close btn-Notification"></i></div>
    <a href="#" class="waves-effect Notification">
      <div class="Notification-icon"><i class="zmdi zmdi-accounts-alt bg-info"></i></div>
      <div class="Notification-text">
        <p>
          <i class="zmdi zmdi-circle tooltipped" data-position="left" data-delay="50"
             data-tooltip="Notification as UnRead"></i>
          <strong>New User Registration</strong>
          <br>
          <small>Just Now</small>
        </p>
      </div>
    </a>
    <a href="#" class="waves-effect Notification">
      <div class="Notification-icon"><i class="zmdi zmdi-cloud-download bg-primary"></i></div>
      <div class="Notification-text">
        <p>
          <i class="zmdi zmdi-circle-o tooltipped" data-position="left" data-delay="50"
             data-tooltip="Notification as Read"></i>
          <strong>New Updates</strong>
          <br>
          <small>30 Mins Ago</small>
        </p>
      </div>
    </a>
    <a href="#" class="waves-effect Notification">
      <div class="Notification-icon"><i class="zmdi zmdi-upload bg-success"></i></div>
      <div class="Notification-text">
        <p>
          <i class="zmdi zmdi-circle tooltipped" data-position="left" data-delay="50"
             data-tooltip="Notification as UnRead"></i>
          <strong>Archive uploaded</strong>
          <br>
          <small>31 Mins Ago</small>
        </p>
      </div>
    </a>
    <a href="#" class="waves-effect Notification">
      <div class="Notification-icon"><i class="zmdi zmdi-mail-send bg-danger"></i></div>
      <div class="Notification-text">
        <p>
          <i class="zmdi zmdi-circle-o tooltipped" data-position="left" data-delay="50"
             data-tooltip="Notification as Read"></i>
          <strong>New Mail</strong>
          <br>
          <small>37 Mins Ago</small>
        </p>
      </div>
    </a>
    <a href="#" class="waves-effect Notification">
      <div class="Notification-icon"><i class="zmdi zmdi-folder bg-primary"></i></div>
      <div class="Notification-text">
        <p>
          <i class="zmdi zmdi-circle-o tooltipped" data-position="left" data-delay="50"
             data-tooltip="Notification as Read"></i>
          <strong>Folder delete</strong>
          <br>
          <small>1 hours Ago</small>
        </p>
      </div>
    </a>
  </section>

  <div class="row contenedor">
    <router-outlet></router-outlet>
    <!--
    <app-ventas *ngIf="seeOnSalesClient" [idReception]="idReceptionUser" (balance)="setBalance($event)"></app-ventas>
    <app-ordinary-sales *ngIf="seeOnOrdinarySales" [idReception]="idReceptionUser" (balance)="setBalance($event)"></app-ordinary-sales>
    <app-create-reception *ngIf="seeOnCreateReception"></app-create-reception>
    <app-update-reception *ngIf="seeOnUpdateReception"></app-update-reception>
    <app-create-room *ngIf="seeOnCreateRoom"></app-create-room>
    <app-update-room *ngIf="seeOnUpdateRoom"></app-update-room>
    <app-create-product *ngIf="seeOnCreateProduct"></app-create-product>
    <app-update-product *ngIf="seeOnupdateProduct"></app-update-product>
    <app-registry-client *ngIf="seeOnRegistryClient" [idReception]="idReceptionUser" [clientInput]="clientInp"
                         (roomAccommodate)="changePage($event)" (balance)="setBalance($event)"></app-registry-client>
    <app-see-room-available *ngIf="seeOnRoomAvailable" (clientOutput)="receivedClient($event)"></app-see-room-available>
    <app-see-room-busy *ngIf="seeOnRoomBusy"></app-see-room-busy>
    <app-create-user *ngIf="seeOnUser"></app-create-user>
    <app-create-section-product *ngIf="seeOnSectionProduct"></app-create-section-product>
    <app-report-room *ngIf="seeonReport"></app-report-room>
    <app-report-sales *ngIf="seeOnReportSales"></app-report-sales>
    -->
  </div>

  <!-- Modal Structure -->

  <!-- modal of create -->
  <div id="modal-create-section" class="modal">
    <div class="modal-content">
      <h4>Crear</h4>
      <ul class="collection">
        <!-- option one -->
        <li class="collection-item avatar modal-close" routerLink="create-reception">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="id_recep_1">
          <span class="title white-text" id="id_recep_2">Recepcionista</span>
          <p class="white-text" id="id_recep_3">En esta opción puedes crear el recepcionista</p>
          <a class="secondary-content" id="id_recep_4"><i class="material-icons">grade</i></a>
        </li>
        <!-- option two -->
        <li class="collection-item avatar modal-close" routerLink="create-product">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="id_prod_1">
          <span class="title white-text" id="id_prod_2">Producto</span>
          <p class="white-text" id="id_prod_3">En esta opción puedes crear un producto para la venta</p>
          <a class="secondary-content" id="id_prod_4"><i class="material-icons">grade</i></a>
        </li>
        <!-- option three -->
        <li class="collection-item avatar modal-close" routerLink="create-room">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="id_room_1">
          <span class="title white-text" id="id_room_2">habitación</span>
          <p class="white-text" id="id_room_3">En esta opción puedes crear una habitación para la disponibilidad del
            cliente</p>
          <a class="secondary-content" id="id_room_4"><i class="material-icons">grade</i></a>
        </li>

        <li class="collection-item avatar modal-close" routerLink="super-root">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="super-root_1">
          <span class="title white-text" id="super-root_2">Super usuario</span>
          <p class="white-text" id="super-root_3">En esta opción puedes crear tu super usuario una unica vez para
            administrar las funciones avanzadas del sistema</p>
          <a class="secondary-content" id="super-root_4"><i class="material-icons">grade</i></a>
        </li>

        <li class="collection-item avatar modal-close" routerLink="create-product-category">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="id_sec_1">
          <span class="title white-text" id="id_sec_2">Crear sección del producto</span>
          <p class="white-text" id="id_sec_3">En esta opción puedes crear una sección de productos</p>
          <a class="secondary-content" id="id_sec_4"><i class="material-icons">grade</i></a>
        </li>

      </ul>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat black white-text">Cerrar</a>
    </div>
  </div>

  <!-- modal of create base balance -->
  <div id="modal-create-base-balance" class="modal">
    <div class="modal-content">
      <h5 style="font-family: Serif; margin-left: 1.1%;">Ingresar saldo base</h5>

      <div class="container">
        <div class="row">

          <div class="input-field col s12 m6 l6">
            <input id="create-base-balance" type="number" [(ngModel)]="balance">
            <label for="create-base-balance">Saldo:</label>
          </div>
          <!--
          <div class="input-field col s12 m6 l6" *ngIf="reception.length > 0">
            <select class="browser-default" (change)="selectReception($event)">
              <option value="">Selecciona un recepcionista</option>
              <option *ngFor="let item of reception" value="{{item.id}}">{{item.nombre}} {{item.apellidos}}</option>
            </select>
          </div>
          -->

          <div class="col s12 m12 l12">
            <button class="btn black white-text" (click)="enterBalance()">Ingresar saldo</button>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- modal of update -->
  <div id="modal-update-section" class="modal">
    <div class="modal-content">
      <h4 class="green-text">Actualizar</h4>
      <ul class="collection">
        <!-- option one -->
        <li class="collection-item avatar modal-close green" routerLink="update-reception">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="id_recep_upd_1">
          <span class="title white-text" id="id_recep_upd_2">Recepcionista</span>
          <p class="white-text" id="id_recep_upd_3">En esta opción puedes actualizar los datos del recepcionista</p>
          <a class="secondary-content" id="id_recep_upd_4"><i class="material-icons blue-text">grade</i></a>
        </li>
        <!-- option two -->
        <li class="collection-item avatar modal-close green" routerLink="update-product">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="id_prod_upd_1">
          <span class="title white-text" id="id_prod_upd_2">Producto</span>
          <p class="white-text" id="id_prod_upd_3">En esta opción puedes actualizar los datos de un producto</p>
          <a class="secondary-content" id="id_prod_upd_4"><i class="material-icons blue-text">grade</i></a>
        </li>
        <!-- option three -->
        <li class="collection-item avatar modal-close green" routerLink="update-room">
          <img src="../../../assets/hotel.png" alt="" class="circle" id="id_room_upd_1">
          <span class="title white-text" id="id_room_upd_2">habitación</span>
          <p class="white-text" id="id_room_upd_3">En esta opción puedes actualizar los datos de una habitación</p>
          <a class="secondary-content" id="id_room_upd_4"><i class="material-icons blue-text">grade</i></a>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat green white-text">Cerrar</a>
    </div>
  </div>

  <!-- modal update base balance -->
  <div id="modal-update-base-balance" class="modal">
    <div class="modal-content">
      <h5 style="font-family: Serif; margin-left: 1.1%;">Retirar saldo base</h5>

      <div class="container">
        <div class="row">

          <div class="input-field col s12 m6 l6">
            <span>Ingresa el saldo a retirar</span>
            <input id="update-base-balance" type="number" class="validate" [(ngModel)]="balanceWithdraw">
          </div>
          <!--
          <div class="input-field col s12 m6 l6" *ngIf="reception.length > 0">
            <select class="browser-default" (change)="selectReception($event)">
              <option value="">Selecciona un recepcionista</option>
              <option *ngFor="let item of reception" value="{{item.id}}">{{item.nombre}} {{item.apellidos}}</option>
            </select>
          </div>
          -->

          <div class="col s12 m12 l12">
            <button class="btn black white-text" (click)="withDrawBaseBalance()">Retirar saldo</button>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- modal warning root -->
  <div id="modal-super-root" class="modal">
    <div class="modal-content">
      <h5 style="font-family: Serif; margin-left: 1.1%;">¿No eres super usuario?</h5>

      <div class="container">
        <div class="row">

          <div class="input-field col s12">
            <textarea id="mensaje" class="materialize-textarea" [(ngModel)]="message" minlength="400"
                      style="border: 1px solid grey!important; border-radius: 11px!important; height: 107px!important;"></textarea>
            <label for="mensaje">Enviar mensaje al super usuario:</label>
          </div>

          <div class="col s12 m12 l12">
            <button class="btn black white-text" (click)="sendMessageSuperToSuperUser()">Enviar mensaje</button>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- modal warning root -->
  <div id="modal-deliver_turn" class="modal">
    <div class="modal-content">
      <h5 style="font-family: Serif; margin-left: 1.1%;">¿Deseas entregar turno?</h5>

      <div class="container">
        <div class="row">

          <div class="input-field col s12 m6 l6" *ngIf="reception.length > 0">
            <select class="browser-default" (change)="selectReception($event)">
              <option value="">Selecciona un recepcionista</option>
              <option *ngFor="let item of reception" value="{{item.id}}">{{item.nombre}} {{item.apellidos}}</option>
            </select>
          </div>

          <div class="col s12 m12 l12">
            <button class="btn black white-text" (click)="deliverTurn()">Entregar</button>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- Seccion del Modal -->
</section>

